body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.popupbox {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px black;
    border-radius: 25px;
    opacity: 0.85;
    top: 80px;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: pink;
}

.popupbox input {
    height: 40px;
    width: 200px;
    max-width: 200px;
    max-height: 40px;
}
.postbuttons {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    max-height: 25px;
}
#header {
    position: fixed;
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    
}
#posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
#post {
    border-style: solid;
    border-color: red;
    padding: 10px;
    border-radius: 25px;
    max-width: 600px;
    width: 600px;
    
}

#logintable {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    white-space: nowrap;
    

}

.registerlink {
    color: red;
}


#title {
    text-decoration: none;
    color: white;
}

.headerlinks {
    text-decoration: none;
    color:white;
}

#postUsername {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#postUsername button {
    max-height: 25px;
}

#posts input {
    height: 40px;
    width: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}

#posts button {
    display: flex;
    align-self: flex-end;
    margin-right: 8px;
}